<h1>ユーザー情報編集</h1>

<% if User.find_by(id:params[:id]) == nil %>
  <p>不正なログインです</p>
<% elsif User.find(current_user.id) == nil %>
  <p>不正なログインです</p>
<% else %>
  <%= render 'edit_form', user: @user %>
<% end %>
