
<% @current_user = User.find(current_user.id) %>
<div class="item-list">
  <center>
    <div class="myprofile">
      <%= render '/users/myprofile_left' %>
    </div>
  </center>

  <p>&emsp;</p>

  <center>
    <div class="followerlist">
      <%= render '/users/followerlist' %>
    </div>
  </center>
</div>
