<p id="notice"><%= notice %></p>

<% @current_user = User.find_by(userid:current_user) %>
<span class="myprofile" style="float:left">
  <%= render '/users/myprofile_left' %>
</span>

<div class="followerlist" style="float:right" >
  <%= render '/users/followerlist' %>
</div>
