<br><br>


<center>
  <table>
    <tbody>
      <tr>
        <td>
          <%= button_to "ユーザー情報編集", user_update1_path(), method: :get, class:"edit_info_btn" %>
        </td>

        <td>
          <%= button_to "PW編集", user_update2_path(), method: :get, class:"edit_pw_btn" %>
        </td>
      </tr>
    </tbody>
  </table>
</center>
