<p id="notice"><%= notice %></p>

<div class="myprofile" style="float:left" >
  <%= render '/users/show_myprofile' %>
</div>

<div class="followerlist" style="float:right" >
  <%= render '/users/show_followerlist' %>
</div>
