<div class="item-list">
  <center>
    <div class="myprofile">
      <%= render '/users/show_myprofile' %>
    </div>
  </center>

    <p>&emsp;</p>
  <center>
    <div class="followerlist">
      <%= render '/users/show_followerlist' %>
    </div>
  </center>
</div>
