/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.top_msg{
  font-size: 15px;
  height:15px;
  line-height: 15px;
  text-align: center;
}
 .alert{
   background-color: #ff2d20;
   color: white;
 }
 .notice{
   background-color: #196b9a;
   color: white;
 }

.index_icons{
    width:  70px;       /* ※縦横を同値に */
    height: 70px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;
}

.room_icons{
    width:  30px;       /* ※縦横を同値に */
    height: 30px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;
      background-color: #5bb7ae;
}

.roomnew_icons{
    width:  30px;       /* ※縦横を同値に */
    height: 30px;       /* ※縦横を同値に */
    background-position: center center;
}

.msg_box{
  width: 95vw;
  height: 55vh;
  color: white;
  background-color: black;
  overflow: hidden scroll;
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.status{
  width: 95vw;
}

.time_date{
  color: gray;
}

.news{
  width: 95vw;
  height: 10vh;
  color: white;
  background-color: black;
  overflow: hidden scroll;
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.msg{
  background: #5bb7ae;
}




.msg_time{
  color:black;
  padding-bottom: 1px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
.msg_useid{
  color: black;
  background: #f4f4f4;
  padding-bottom: 1px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
.msg_usericon{
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 3px;
  padding-right: 3px;
}
.msg_msg{
    margin: 1em 0;
    background: #f4f4f4;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    color: black;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 3px;
}








.comment_left{
  background: #5bb7ae;
}



.comment_form{
    width: 85vw;
    height: 10vh;
    color: white;
    font-size: 20px;
    background-color: black;
}
.comment_form_btn{
  width: 10vw;
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
  width: 70px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
.comment_form_btn:hover{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.left_msg{
  text-align: left;
  margin-left: 10px;
}

.right_msg{
  text-align: right;
  margin-right: 10px;
}

a{
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
}

a:hover{
  text-decoration: none;
  background-color: rgba(0,0,0,0);;
}

body{
  background-color: black;
  color: white;
}

ul {
  list-style: none;
}

.myprofile_area1{
  line-height: 50px;
  color: #ffffff;
  /*background-color: #002e4e;
  box-shadow: 4px 4px 6px #00548f;*/
  font-size: 20px;
  border-radius: 10px;
  height: 50px;
  width: 130px;
}

.myprofile_area2{
  line-height: 50px;
  color: #ffffff;
  /*background-color: #002e4e;
  box-shadow: 4px 4px 6px #00548f;*/
  font-size: 25px;
  border-radius: 10px;
  height: 50px;
  width: 300px;
}

.userid_area{
  line-height: 50px;
  color: #ffffff;
  background-color: #002e4e;
  font-size: 20px;
  box-shadow: 4px 4px 6px #00548f;
  border-radius: 10px;
  height: 50px;
  width: 400px;
}

.user_btn{
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
  width: 115px;
  font-size: 15px;
}

.logout_link{
  background-color: #1c8c00;
  color: #ffffff;
  box-shadow: 4px 4px 6px #2bd600;
}
.logout_link:hover{
  background-color: #1c8c00;
  color: #ffffff;
  box-shadow: 4px 4px 6px #2bd600;
  transform: translate3d(0, 5px, 0);
}

.edit_link{
  background-color: #e35e00;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff9042;
  font-size: 90%
}
.edit_link:hover{
  background-color: #e35e00;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff9042;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.destroy_link{
  background-color: #e00012;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff4d5b;
}
.destroy_link:hover{
  background-color: #e00012;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff4d5b;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.search_link{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
}
.search_link:hover{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.follower_link{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  font-size: 90%;
}
.follower_link:hover{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.followed_link{
  background-color: #e00012;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff4d5b;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
.followed_link:hover{
  background-color: #e00012;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff4d5b;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.following_link{
  background-color: rgba(224, 0, 18, 0.5);
  color: #ffffff;
  box-shadow: 4px 4px 6px rgba(224, 0, 18, 0.5);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
.following_link:hover{
  background-color: rgba(224, 0, 18, 0.5);
  color: #ffffff;
  box-shadow: 4px 4px 6px rgba(224, 0, 18, 0.5);
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.followback_link{
  background-color: rgba(3, 130, 255, 0.5);
  color: #ffffff;
  box-shadow: 4px 4px 6px rgba(3, 130, 255, 0.5);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
.followback_link:hover{
  background-color: rgba(3, 130, 255, 0.5);
  color: #ffffff;
  box-shadow: 4px 4px 6px rgba(3, 130, 255, 0.5);
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.follow_link{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
.follow_link:hover{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.follow_allow_link{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
.follow_allow_link:hover{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  transform: translate3d(0, 2px, 0);
  box-shadow: #fff;
}

.follow_reject_link{
  background-color: #e00012;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff4d5b;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 20px;
  width: 120px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.follow_reject_link:hover{
  background-color: #e00012;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff4d5b;
  transform: translate3d(0, 2px, 0);
  box-shadow: #fff;
}

.ff_image{
  height: 70px;
  width: 200px;
  margin-top: 0px auto;
  margin-bottom: 0px auto;
}

@media only screen and (max-width:1000px) {
  .ff_image{
    display: none;
  }
}

.follower_name{
  margin-left: 10px;
  line-height: 70px;
  color: #ffffff;
  font-size: 30px;
  border-radius: 10px;
  height: 70px;
  width: 300px;
}

.index_row_1st{
  width: 100vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: black;
  overflow: hidden scroll;
  box-shadow: 4px 0px 4px rgba(255, 255, 255, .2);
}
.index_row_2nd{
  width: 100vw;
  height: 3vh;
  margin-left: auto;
  margin-right: auto;
  color: gray;
  background-color: black;
  overflow: hidden scroll;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, .2);
}

.roomMake_link{
  background-color: #e35e00;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff9042;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  font-size: 12px;
}
.roomMake_link:hover{
  background-color: #e35e00;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ff9042;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.roomEntry_link{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  font-size: 12px;
}
.roomEntry_link:hover{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.roomEmpty{
  height: 35px;
  width: 100px;
}

.myprofile{
    width: 33vw;
    height: 67vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.followerlist{
  width: 60vw;
  height: 66vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: black;
  overflow: hidden scroll;
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

a.top_login_link{
  text-decoration: underline;
}
a.top_create_link{
  text-decoration: underline;
}


.session_login_label{
  font-size: 25px;
}
.session_login_field{
  height: 50px;
  width: 400px;
  line-height: 50px;
  font-size: 25px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, .25);
}

.session_login_submit{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
  width: 160px;
  font-size: 30px;
}
.session_login_submit:hover{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.user_create_label{
  font-size: 25px;
  line-height: 25px;
}
.user_create_field{
  height: 50px;
  width: 400px;
  line-height: 50px;
  font-size: 25px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, .25);
}

.user_create_submit{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
  width: 160px;
  font-size: 30px;
}
.user_create_submit:hover{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

.image_form{
  display: none;
}
.image_input_btn{
  background-color: black;
  border-color: white;
  border: 2px solid;
  color: #ffffff;
  box-shadow: 4px 4px 6px #ffffff;
  width: 350px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.image_input_btn:hover{
  background-color: black;
  color: white;
  box-shadow: 4px 4px 6px #ffffff;
  transform: translate3d(0, 5px, 0);
  box-shadow: #ffffff;
}

.user_edit_link{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.user_edit_link:hover{
  background-color: #0382ff;
  color: #ffffff;
  box-shadow: 4px 4px 6px #52a9ff;
  transform: translate3d(0, 5px, 0);
  box-shadow: #fff;
}

html{
  width: 1500px;
}
