// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment_form{
    width: 950px;
    height: 8vh;
    color: white;
    align-self: center;
    font-size: 20px;
    background-color: black;
}
.comment_form_btn{
  cursor: pointer;
  width:  70px;
  height: 65px;
  border-radius: 50%;
  background-position: center center;
  text-align: center;
}
.comment_form_btn:hover{
  transform: translate3d(0, 5px, 0);
}

.comment_form_title{
    width: 675px;
    height: 5vh;
    color: white;
    align-self: center;
    font-size: 20px;
    background-color: black;
}
.comment_form_long{
    width: 675px;
    height: 33vh;
    color: white;
    align-self: center;
    font-size: 15px;
    background-color: black;
}
.comment_form_long_btn{
  cursor: pointer;
  width:  120px;
  height: 75px;
  background-position: center center;
  text-align: center;
  border-radius: 14px;
}
.comment_form_long_btn:hover{
  transform: translate3d(0, 5px, 0);
}

.msg_box{
  width: 700px;
  height: 55vh;
  color: white;
  background-color: black;
  overflow: hidden scroll;
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}
.room_right{
  width: 694px;
}



.item-list{
  display: flex;
  justify-content: center;
}

.room_icons{
    width:  30px;       /* ※縦横を同値に */
    height: 30px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;
}

.roomnew_icons{
    width:  30px;       /* ※縦横を同値に */
    height: 30px;       /* ※縦横を同値に */
    background-position: center center;
}

.emotion_icons{
    width:  40px;       /* ※縦横を同値に */
    height: 40px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;
}

.msg_top{
  border-radius: 10px 10px 0 0;
  background: #FFFFFF;
  color: black;
}
.msg_bottom{
  border-radius: 0 0 10px 10px;
  background: #FFFFFF;
  color: black;
  font-size: 18px;
}

.emotion_0_top{
  border-radius: 20px 20px 0 0;
  background: #FEDB70;
  color: black;
}
.emotion_0_bottom{
  border-radius: 0 0 20px 20px;
  background: #FEDB70;
  color: black;
}

.emotion_1_top{
  border-radius: 15px 15px 0 0;
  background: #C0E399;
  color: black;
}
.emotion_1_bottom{
  border-radius: 0 0 15px 15px;
  background: #C0E399;
  color: black;
}

.emotion_2_top{
  border-radius: 10px 10px 0 0;
  background: #FFFFFF;
  color: black;
}
.emotion_2_bottom{
  border-radius: 0 0 10px 10px;
  background: #FFFFFF;
  color: black;
}

.emotion_3_top{
  border-radius: 5px 5px 0 0;
  background: #01AD4F;
  color: black;
}
.emotion_3_bottom{
  border-radius: 0 0 5px 5px;
  background: #01AD4F;
  color: black;
}

.emotion_4_top{
  border-radius: 0 0 0 0;
  background: #EC8282;
  color: black;
}
.emotion_4_bottom{
  border-radius: 0 0 0 0;
  background: #EC8282;
  color: black;
}
