<%
  request_id = "request_" + current_user.to_s
%>

<div id='<%= request_id %>'>
  <% if current_user != nil %>
    <table>
      <tbody>
        <% requests = Friend.where(friend_id: current_user.id, request:true, allow:false) %>
          <% if 0 < requests.length %>
            <% requests.each do |request| %>
              <tr>
                <td><%= User.find(request.user_id).userid %> からフォロー申請が来ています</td>

                <td>
                  <div class="follow_allow_link">
                      <%= link_to 'フォロー申請許可', friends_edit1_path(user_id:current_user.id, friend_id:request.user_id), method: :get %>
                  </div>
                </td>

                <td>
                  <div class="follow_reject_link">
                    <%= link_to 'フォロー申請削除', friends_edit2_path(user_id:request.user_id, friend_id:current_user.id), method: :get %>
                  </div>
                </td>

              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  <% end %>
</div>
